<div
  id="sidebar"
  class="d-flex flex-column flex-shrink-0 p-3 bg-tertiary offcanvas-md offcanvas-start"
  style="width: 280px"
>
  <a href="#" class="navbar-brand">Famliy</a>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-1">
      <a class="nav-link" href="#" routerLink="meals">
        <i class="bi bi-egg-fried"></i>
        Meals
      </a>
    </li>
    <li class="nav-item mb-1">
      <a class="nav-link" href="#" routerLink="mealdates">
        <i class="bi bi-calendar"></i>
        Mealdates
      </a>
    </li>
  </ul>
</div>
