<form [formGroup]="form" (ngSubmit)="submit()">
  <fieldset class="mb-3">
    <label for="plannedAt" class="form-label">Date:</label>
    <input
      type="date"
      id="plannedAt"
      formControlName="plannedAt"
      class="form-control"
      [class.is-invalid]="plannedAt?.invalid && formSubmitAttempt"
      required
    />
  </fieldset>

  <fieldset class="mb-3">
    <label for="type" class="form-label">Type:</label>
    <select
      id="type"
      formControlName="type"
      class="form-select"
      [class.is-invalid]="type?.invalid && formSubmitAttempt"
      required
    >
      @for (entry of mealdateType | keyvalue: null; track entry.key) {
      <option value="{{ entry.key }}">{{ entry.value }}</option>
      }
    </select>
  </fieldset>

  <fieldset class="mb-3">
    <label for="meal" class="form-label">Meal:</label>
    <select
      id="meal"
      formControlName="meal"
      class="form-select"
      [class.is-invalid]="meal?.invalid && formSubmitAttempt"
      required
    >
      @for (meal of meals(); track meal.ID) {
      <option [ngValue]="meal">{{ meal.name }}</option>
      }
    </select>
  </fieldset>

  <fieldset class="mb-3">
    <label for="notes" class="form-label">Notes:</label>
    <textarea
      id="notes"
      formControlName="notes"
      rows="5"
      class="form-control"
    ></textarea>
  </fieldset>

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-link" [routerLink]="['/mealdates']">
    Back
  </button>
</form>
