<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="date" class="form-label">Date:</label>
    <input
      type="date"
      id="date"
      formControlName="date"
      class="form-control"
      [class.is-invalid]="date?.invalid && (date?.touched || date?.dirty)"
    />
  </div>

  <div class="mb-3">
    <label for="type" class="form-label">Type:</label>
    <select2 [data]="types" formControlName="type" required></select2>
  </div>

  <div class="mb-3">
    <label for="exampleDataList" class="form-label">Meal:</label>
    <select2 [data]="meals" formControlName="meal" required></select2>
  </div>

  <div class="mb-3">
    <label for="notes" class="form-label">Notes:</label>
    <textarea
      id="notes"
      formControlName="notes"
      rows="5"
      class="form-control"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-link" [routerLink]="['/mealdates']">
    Back
  </button>
</form>
